:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: blue;
    box-shadow: 0 0.3px 0.7px rgba(255, 0, 0, 0.126),
        0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 3.5px rgba(0, 0, 0, 0.224),
        0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    transition: 0.5s ease;
    position: relative;
    top: -83px;
    height: 200px;
    width: 1000px;
    margin: 0 auto;
    background: brown;
    text-align: center;
    background: #c19a6b;
}

// .jumbotronGlass {
//     background-color: blue;
//     box-shadow: 0 0.3px 0.7px rgba(255, 0, 0, 0.126),
//         0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 3.5px rgba(0, 0, 0, 0.224),
//         0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px rgba(0, 0, 0, 0.4);
//     backdrop-filter: blur(20px);
// }
@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron {
    transform-style: preserve-3d;
    transform: rotate3d(1, 0, 0, 43.5deg);
    margin-top: 15px;
}
.jumbotron {
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 800;
    background: -webkit-linear-gradient(left, #4051b5, #0575e6);
    background: -o-linear-gradient(right, #021b79, #0575e6);
    background: -moz-linear-gradient(right, #021b79, #0575e6);
    background: linear-gradient(to right, #021b79, #0575e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -50px;
    margin-bottom: 30px;

    //  #021b79,
    //     #0575e6
}

//MAKE JS SPAN YELLOW
.jumbotron-heading .span {
    color: yellow;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: 0.25rem;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.frosted-glass {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 72vw;
    // height: 36vh;

    box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.126),
        0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 3.5px rgba(0, 0, 0, 0.224),
        0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px rgba(0, 0, 0, 0.4);
    // backdrop-filter: blur(20px);
    transition: 0.5s ease;
    box-shadow: inset 0 0 500px rgba(37, 106, 133, 0.75);
    // filter: blur(1px);

    // background-color: rgba(72, 90, 149, 0.2);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
        brightness(140%);

    /* &:hover {
      box-shadow: 0 0.7px 1px rgba(0, 0, 0, 0.157),
        0 1.7px 2.6px rgba(0, 0, 0, 0.224), 0 3.5px 5.3px rgba(0, 0, 0, 0.28),
        0 7.3px 11px rgba(0, 0, 0, 0.346), 0 20px 30px rgba(0, 0, 0, 0.5);
    } */
}

.frosted-glass:before {
    box-shadow: inset 0 0 500px rgba(176, 208, 225, 0.75);
    filter: blur(1px);

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
        brightness(140%);
}

.searchPanel {
    transform-style: preserve-3d;
    transform: rotate3d(1, 0, 0, 50deg);
    height: 150px;
    margin-top: -28px;
}

.searchBar {
    // margin-top: 0px;
    outline: none;
    width: 500px;
    height: 100px;
    font-size: 27px;
    position: relative;
    display: flex;
    // color: #021b79;
    color: black;
    font-weight: 500;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.searchBtn {
    height: 100px;
    font-size: 27px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    font-weight: 700;
    background: #0575e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to top,
        #021b79,
        #0575e6
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to top,
        #021b79,
        #0575e6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* position: relative;
    display: flex; */
}

.searchBtn:hover,
.slide:focus {
    background: #0369d8;
    cursor: pointer;
    // And from the left FIGURE OUT SLIDE TRANSITION
    // box-shadow: inset 6.5em 0 0 0 var(--hover);
}

//CSS GRID
html,
body,
.grid-container {
    height: 100%;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.6fr 1.4fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        'Button Title Title Buttons'
        'TagLine TagLine TagLine TagLine'
        'SearchBar SearchBar SearchBar SearchBar';
}

.Title {
    grid-area: Title;
}

.Button {
    grid-area: Button;
}

.Buttons {
    grid-area: Buttons;
}

.SearchBar {
    grid-area: SearchBar;
}

.TagLine {
    grid-area: TagLine;
}

/* For presentation only, no need to copy the code below */
.grid-container * {
    border: 1px solid red;
    position: relative;
}

.grid-container *:after {
    content: attr(class);
    position: absolute;
    top: 0;
    left: 0;
}

//End CSS Grid

p {
    color: black;
}

.subtitle {
    color: black;
    font-weight: 300;
    font-size: 19px;
    margin-top: -17px;
}

// tabs
@mixin tab($col, $tabPos) {
    &::after {
        content: '';
        position: absolute;
        width: 2.59vw;
        height: 14vh;
        background: $col;
        border-radius: 0 20px 20px 0;
        top: $tabPos;
        right: -2.5vw;
        border-right: 3px solid white;
        border-bottom: 3px solid white;
        border-top: 3px solid white;
        // border-right: 2px solid white;

        // top: 0.4vh;
    }
}
$col1: #ffea61;
$col2: #fff192;
$col3: #ffdd3c;
$col4: #ffd400;
$col5: #ffffb7;
$col6: #ffd400;

// $col1: #ffd400;
// $col2: #ffdd3c;
// $col3: #ffea61;
// $col4: #fff192;
// $col5: #ffffb7;
// $col6: #fff192;

// $col1: #872e81;
// $col2: #2e5487;
// $col3: #2e8735;
// $col4: #872e81;
// $col5: #2e5487;
// $col6: #2e8735;

// $col1: #15c2f4;
// $col2: #862d52;
// $col3: #3b516f;
// $col4: #88512d;
// $col5: #887f2d;
// $col6: #742d88;

// $col1: #ff3c2f;
// $col2: #ff9e0a;
// $col3: #ffcc00;
// $col4: #34c659;
// $col5: #15c2f4;
// $col6: #742d88;

// $col1: #ecce8e;
// $col2: #f2c67b;
// $col3: #dbb36d;
// $col4: #f4e095;
// $col5: #fff2bf;
// $col6: #dbb36d;

html,
body {
    height: 100%;
    margin: 0;
}

.tab {
    height: 100%;
    margin-top: -170px;
    margin-left: 10px;
    margin-right: -50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 8px;

    transform: translateX(1vw);

    position: absolute;
    box-shadow: 6px 0px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
    &:hover ~ div {
        transform: translateX(-92vw);
    }
    border: 3px solid white;
}

#tab0 {
    @extend .tab;
    width: 93.5vw;
    background: black;
}
#tab6 {
    @extend .tab;
    width: 93.5vw;
    background: $col6;
    @include tab($col6, 64%);
}
#tab5 {
    @extend .tab;
    width: 93.5vw;
    background: $col5;
    @include tab($col5, 51%);
}

#tab4 {
    @extend .tab;
    width: 93.5vw;
    background: $col4;
    @include tab($col4, 38%);
}

#tab3 {
    @extend .tab;
    width: 93.5vw;
    background: $col3;
    @include tab($col3, 25%);
}

#tab2 {
    @extend .tab;
    width: 93.5vw;

    background: $col2;
    @include tab($col2, 12%);
}

#tab1 {
    @extend .tab;
    width: 93.5vw;
    background: $col1;
    @include tab($col1, -0.3%);
    margin-right: 5px;
    // border: 2px solid white;
}

.iframe-container {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
    position: relative;
}

.iframe-container:hover {
    height: 560%;
    left: 0;
    position: absolute;
    width: 160%;
    top: 0;
    padding-bottom: 1px;
}

.iframe-container iframe {
    height: 100%;
    left: 0;
    position: absolute;
    width: 500px;
    top: 0;
    padding-bottom: 1px;
}

.iframe-container iframe:hover {
    height: 150%;
    left: 0;
    position: absolute;
    width: 150%;
    top: 0;
    padding-bottom: 1px;
    z-index: 11;
}

.Row-class {
    width: 1700px;
    margin-left: -900px;
    margin: 0 auto;
    transform: translate(-17%, 2%);
}

//arrow keys
html {
    background: black;
}

// body {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	width: 10vmin;
// 	height: 100vmin;
// 	transform: translate(-50%,-50%);
// }

.arrow {
    // position: absolute;
    // top: 50%;
    width: 6vmin;
    height: 6vmin;
    background: transparent;
    border-top: 1vmin solid white;
    border-right: 1vmin solid white;
    box-shadow: 0 0 0 lightgray;
    transition: all 200ms ease;

    &.left {
        left: 0;
        margin-left: 5%;
        position: absolute;
        top: 25;
        transform: rotate(230deg);
    }

    &.right {
        right: 0;
        margin-right: 5%;
        position: absolute;
        top: 25;
        transform: rotate(45deg);
    }

    &:hover {
        border-color: orange;
        box-shadow: 0.5vmin -0.5vmin 0 white;
    }

    &:before {
        // for better hit area
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -60%) rotate(45deg);
        width: 200%;
        height: 200%;
    }

    // #help-btn,
    // #github-btn {
    //     display: inline-block;
    //     /* additional code */
    // }
}

//MAKE NEXT AND PREVIOUS BUTTONS YELLOW
.next .btn {
    right: 0;
    margin-right: 120px;
    margin-top: 100px;
    position: absolute;
    top: 0;
    // height: 100px;
    font-size: 23px;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 17px;
    padding-bottom: 10px;

    color: white;
    font-weight: 700;
    background: #0575e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to top,
        #021b79,
        #0575e6
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to top,
        #021b79,
        #0575e6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* position: relative;
    display: flex; */
}

.next .btn:hover,
.slide:focus {
    background: #0369d8;
    cursor: pointer;
    // And from the left FIGURE OUT SLIDE TRANSITION
    // box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.prev .btn {
    left: 0;

    margin-left: 120px;
    margin-top: 100px;
    position: absolute;
    top: 0;
    // height: 100px;
    font-size: 23px;
    border-radius: 10px;
    padding-right: 15px;
    padding-bottom: 8px;

    color: white;
    font-weight: 700;
    background: #0575e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to top,
        #021b79,
        #0575e6
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to top,
        #021b79,
        #0575e6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* position: relative;
    display: flex; */
}

.prev .btn:hover,
.slide:focus {
    background: #0369d8;
    cursor: pointer;
    // And from the left FIGURE OUT SLIDE TRANSITION
    // box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.buttons {
    width: 20px;
    // margin: 0 auto;

    display: inline;
    // position: absolute;
    // top: 0;
    // left: 0;
}

.action_btn {
    display: inline;
    font-size: 30px;

    // color: #021b79;
}

.test {
    width: 250px !important;
    height: 30px;
}

.topRightCorner {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 9px;
    // padding-right: ;
}

.topLeftCorner {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 9px;
    padding-left: 7px;
}

.card-body {
    // background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    background-color: #2b5285;
    border: 2px outset white;
}

.card-text {
    color: white;
    font-weight: 600;
}

.svg_icons1 {
    transform: scale(2.2);
}
.svg_icons2 {
    transform: scale(1.9);
    color: white;
}

.svg_icons3 {
    transform: scale(2.2);
    // transform: rotate(180deg);
}

.mr-2 .fab-button-right {
    background-color: #4051b5;
    border-radius: 10px;
}

.mr-2 .fab-button-left {
    background-color: #4051b5;
    border-radius: 10px;
}

// .mr-2 .github-button:hover > .fab {
//     transform: translate(0, -42px);
//     -webkit-transform: translate(0, -42px);
//     -moz-transform: translate(0, -42px);
//     -o-transform: translate(0, -42px);
//     -ms-transform: translate(0, -42px);
//     /* Start the shake animation and make the animation last for 0.5 seconds */
//     animation: shake 0.5s;

//     /* When the animation is finished, start again */
//     animation-iteration-count: 1;
// }
fab-button-left:hover > .fab {
    // background-color: pink;
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: 1;
}

fab-button-right:hover > .fab {
    // background-color: pink;
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: 1;
}

.fab:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: 1;
}

@keyframes shake {
    0% {
        transform: translate(0, -2px) rotate(0deg);
    }
    10% {
        transform: translate(0, -4px) rotate(0deg);
    }
    20% {
        transform: translate(0, -8px) rotate(1deg);
    }
    30% {
        transform: translate(0, -12px) rotate(0deg);
    }
    40% {
        transform: translate(0, -10px) rotate(1deg);
    }
    50% {
        transform: translate(0, -5px) rotate(-1deg);
    }
    60% {
        transform: translate(0, -2px) rotate(0deg);
    }
    70% {
        transform: translate(0, 0px) rotate(-1deg);
    }
    //     80% {
    //         transform: translate(0, -4px) rotate(1deg);
    //     }
    //     90% {
    //         transform: translate(0, -2px) rotate(0deg);
    //     }
    //     100% {
    //         transform: translate(0, 0px) rotate(-1deg);
    //     }
}

// .btn .btn-secondary .btn-lg {
//     background-color: #4051b5;
// }

.subs {
    color: black;
    font-size: 21px;
    font-weight: 700;
}
